    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Doc Number</th>
            <th>Title</th>
            <th>Category</th>
            <th>Asset Tags </th>
            <th>Comments</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>0000-123-0001</td>
            <td>Some Drawing</td>
            <td>Electrical</td>
            <td>pump123</td>
            <td>A comment or two</td>
            <td><a href=#>Download</a></td>
          </tr>
          <tr>
            <td>0000-123-0002</td>
            <td>Some other Drawing</td>
            <td>Mechanical</td>
            <td>pump123</td>
            <td>A comment or two</td>
            <td><a href=#>Download</a></td>
          </tr>
        </tbody>
      </table>
    </div>
